.eaBoxRoot {
  display: flex;
  flex-direction: column;
  margin-top: -100%;
  margin-bottom: -100%;
  align-self: center;

  > * {
    line-height: 0.8;
  }

  > :not(:last-child) {
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      bottom: -2px;
      background-color: #a2a2a2;
    }
  }
}
