.root {
  display: inline-flex;
  flex-direction: column;

  > * {
    justify-content: center;
    border-radius: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    cursor: pointer;
  }
}
