.eaSuffix {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    border-bottom: 1px solid #555;
  }

  > * {
    flex: 1 0 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    > * {
      opacity: 0.85;
      margin-right: -0.75rem;
    }
  }
}
